.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}

.giphyContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70vh;
  color: black;
}

.link {
  text-decoration: none;
  width: auto;
  height: auto;
}

.controls {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1.5rem 0 1rem 0;
}

.button {
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: auto;
  padding: 1.25rem 1.25rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1vh 0.2rem 1vh 0.2rem;
  font-size: 1.25rem;
  background-color: lightblue;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: lightsteelblue;
}

.button:active {
  color: darkgray;
  background-color: blue;
}

.iframe {
  height: 45vh;
  width: 90vw;
  object-fit: contain;
}

.gif {
  max-height: 80vh;
  max-width: 90vw;
  min-height: 50vh;
  object-fit: contain;
}

@media screen and (min-width: 1100px) {
  .giphyContainer {
    height: 60vh;
  }
  .gif {
    max-width: 90vw;
  }
}

@media screen and (min-width: 1200px) {
  .gif {
    min-width: 60vw;
    max-width: 90vw;
  }
}

