.giphyContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70vh;
  color: black;
}

.gif {
  max-height: 80vh;
  max-width: 90vw;
  min-height: 50vh;
  object-fit: contain;
}

@media screen and (min-width: 1100px) {
  .giphyContainer {
    height: 60vh;
  }
  .gif {
    max-width: 90vw;
  }
}

@media screen and (min-width: 1200px) {
  .gif {
    min-width: 60vw;
    max-width: 90vw;
  }
}
