.header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: auto;
  padding: 0.5rem 1vw 0.25rem 1vw;
  color: black;
  width: 98vw;
  background-color: lightskyblue;
  box-shadow: 0px 2px 4px #aaaaaa;
  text-align: center;
}

.content {
  height: auto;
  margin: 10px 0.5vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.layout {
  max-width: 100%;
}

@media screen and (min-width: 700px) {
  .header {
    font-size: 2.25rem;
    padding: 0.75rem 1vw 0.75rem 1vw;
  }
}

@media screen and (min-width: 800px) {
  .header {
    font-size: 2.5rem;
    padding: 0.75rem 1vw 0.75rem 1vw;
  }
}